/MyAvaloniaManagement/bin
/MyAvaloniaManagement/obj
/MyAvaloniaManagementCommon/bin
/MyAvaloniaManagementCommon/obj
/MyPlugTest/obj
/MyPlugTest/bin
/DaTangAccountingHelpPlug/bin
/DaTangAccountingHelpPlug/obj
MySmallTools/bin/Debug/net9.0/MySmallTools.deps.json
/MySmallTools/bin
/MySmallTools/obj
/BiliDownloader/bin
/BiliDownloader/obj
