/MyAvaloniaManagement/bin
/MyAvaloniaManagement/obj
/MyAvaloniaManagementCommon/bin
/MyAvaloniaManagementCommon/obj
/MyPlugTest/obj
/MyPlugTest/bin
/DaTangAccountingHelpPlug/bin
/DaTangAccountingHelpPlug/obj
MySmallTools/bin/Debug/net9.0/MySmallTools.deps.json
/MySmallTools/bin
/MySmallTools/obj
/BiliDownloader/bin
/BiliDownloader/obj
/BiliDownloader.Tests/bin
/BiliDownloader.Tests/obj
/MyAvaloniaManagement.PluginTests/bin
/MyAvaloniaManagement.PluginTests/obj
.aiflow/insight/
